.menu-button__link {
   text-decoration: none;
   color: #fff;
   font-size: 22px;
   font-weight: 700;
   width: 100%;
}

.menu-button__root {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 9999px;
   padding: 10px;
}
.menu-button__root:hover {
   background-color: var(--twitter-button-hover);
   transition-property: background-color, box-shadow;
   transition-duration: 0.2s;
   color: var(--twitter-color);
}
.menu-button__link .menu-button__icon {
   height: 1.75rem;
   vertical-align: text-bottom;
   max-width: 100%;
   display: inline-block;
}

.menu-button__link .menu-button__icon > svg {
   overflow: hidden;
}

.menu-button__link .menu-button__root .menu-button__text {
   overflow-wrap: break-word;
   line-height: 1.3125;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin-right: 15px;
   margin-left: 20px;
   font-size: 19px;
   font-weight: 700;
}
