.menu-button__link {
   text-decoration: none;
   color: #fff;
   font-size: 22px;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.menu-button__active {
   color: var(--twitter-color);
   fill: var(currentColor);
}

.menu-button__root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   max-width: 100%;
}

.menu-button__root .menu-button__wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   border-radius: 9999px;
   padding: 10px;
}

.menu-button__root:hover .menu-button__wrapper {
   background-color: var(--twitter-button-hover);
   transition-property: background-color, box-shadow;
   transition-duration: 0.2s;
   color: var(--twitter-color);
   fill: var(--twitter-color);
}

.menu-button__link .menu-button__icon > svg {
   overflow: hidden;
   height: 1.75rem;
   font-size: 30px;
   vertical-align: text-bottom;
   display: inline-block;
   color: currentColor;
   max-width: 100%;
}

.menu-button__link .menu-button__root .menu-button__text {
   overflow-wrap: break-word;
   line-height: 1.3125;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin-right: 15px;
   margin-left: 20px;
   font-size: 19px;
   font-weight: 700;
   min-width: 0px;
}

@media (min-width: 1920px) {
   .menu-button__root {
      flex-direction: row;

      justify-content: flex-start;
      width: 100%;
      padding-bottom: 7px;
      padding-top: 7px;
   }
   .menu-button__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
   }

   .menu-button__icon > svg {
      margin-left: 10px;
   }
}
