.sidebar {
   flex: 0.3;
   border-right: 1px solid var(--twitter-background);
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

.tweet-btn {
   background-color: var(--twitter-color) !important;
   color: white !important;
   border: none !important;
   font-weight: 900;
   text-transform: inherit !important;
   border-radius: 30px !important;
   height: 50px !important;
   margin-top: 20px !important;
}

.sidebar__twitterIcon {
   color: var(--twitter-color);
   font-size: 35px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.mobile-sidebar__twitterIcon > .MuiIconButton-root {
   color: var(--twitter-color) !important ;
   font-size: 30px;
   margin-right: 10px;
}
.smallSidebar {
   flex: 0.07;
   flex-basis: auto;
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.MuiFab-root {
   color: white !important;
   background-color: var(--twitter-color) !important;
   box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1),
      0px 6px 10px 0px rgba(0, 0, 0, 0.08), 0px 1px 18px 0px rgba(0, 0, 0, 0.06) !important;
   margin-top: 30px !important;
}
