.sidebar-option {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.sidebar-option > svg {
   padding: 20px;
   font-size: 35px;
}

.sidebar-option:hover {
   background-color: #e8f5fe;
   border-radius: 30px;
   color: var(--twitter-color);
   transition: color 130ms ease-out;
}

.sidebar-option > svg:hover {
   color: var(--twitter-color);
}

.sidebar-option > span {
   font-weight: 700;
   font-size: 19px;
   margin-right: 20px;
   line-height: 1.3125;
}

.sidebar-option--active {
   color: var(--twitter-color) !important;
}

.mobile-sidebar-option > .MuiIconButton-root {
   font-size: 27px;
   padding-left: 15px;
   color: black !important;
}

.mobile-sidebar-option > .MuiIconButton-root:hover {
   color: var(--twitter-color) !important;
}

.MuiIconButton-root:hover {
   background-color: #e8f5fe !important;
   color: var(--twitter-color);
}
