/* Emoji Picker Style Overrides */
.tweetForm .bottom-wrapper aside.emoji-picker-react {
   position: absolute;
   left: 0;
   z-index: 2;
   background: var(--background-dark);
   box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
      rgba(136, 153, 166, 0.15) 0px 0px 3px 1px !important;

   border: 1px solid var(--background-dark);
}

.tweetForm .bottom-wrapper aside.emoji-picker-react .content-wrapper {
   border: 1px solid var(--background-dark);
}
.tweetForm .bottom-wrapper .emoji-picker-react input.emoji-search {
   background-color: var(--input-color);
   color: #fff;
   border: 1px solid var(--background-dark);
   font-family: inherit;
}

.tweetForm .bottom-wrapper .emoji-picker-react input.emoji-search:focus {
   border: 1px solid var(--twitter-color);
}

.tweetForm .bottom-wrapper .emoji-picker-react .emoji-group:before {
   background: var(--background-dark);
   color: #fff;
   text-transform: capitalize;
   font-size: 15px;
   font-weight: 700;
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji.has-skin-variation:before {
   background: none;
}

/* Overrides for the header buttons in emoji component */
.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-smileys_people {
   color: var(--text-gray);
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f600.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-animals_nature {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f43b.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-food_drink {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f354.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-travel_places {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f698.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-activities {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/26bd.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-objects {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f4a1.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-symbols {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f523.svg);
}

.tweetForm
   .bottom-wrapper
   .emoji-picker-react
   .emoji-categories
   button.icn-flags {
   background-image: url(https://abs-0.twimg.com/emoji/v2/svg/1f6a9.svg);
}

.tweetForm .bottom-wrapper .emoji-picker-react .emoji-categories button {
   opacity: 0.5;
   filter: grayscale(100%) contrast(80%);
}
.tweetForm .bottom-wrapper .emoji-picker-react .emoji-categories button:hover {
   filter: none;
   opacity: 1;
}
