.header__root {
   position: sticky;
   top: 0;
   z-index: 3;
   border-bottom: 1px solid var(--border-color);
   height: 53px;
   padding: 15px 20px;
   background-color: var(--background-dark);
}

.header__root .header__items {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: 25px;
   font-weight: 700;
   cursor: pointer;
   height: 100%;
}

.header__root .header__items svg {
   color: var(--twitter-color);
}
