.MuiDialog-paper {
   background-color: var(--background-dark) !important;
}

.MuiDialogContent-root {
   color: #fff !important;
}

#dialog-title {
   color: #fff;
}

#dialog-title .modal-icon {
   font-size: 30px;
}

.dialog-content-wrapper .header {
   display: inline-block;
}
