.single-tweet {
   display: flex;
   flex-direction: column;
   padding: 10px 10px 0px 15px;
   border-bottom: 1px solid var(--border-color);
}

/*  Start Header */
.single-tweet-header {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.single-tweet-header .right-col {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-grow: 1;
}

.right-col .names {
   display: flex;
   flex-direction: column;
}
.right-col .names:hover .full-name {
   text-decoration: underline;
}
.right-col .names .full-name {
   color: #fff;
   font-size: 15px;
   font-weight: 700;
   overflow-wrap: break-word;
}

.right-col .names .screen-name {
   color: var(--text-gray);
   font-size: 15px;
   overflow-wrap: break-word;
}

.right-col .names .verified-badge {
   color: #fff;
   margin-left: 5px;
}
.right-col .names .verified-badge svg {
   vertical-align: text-bottom;
   max-width: 100%;
   height: 1.25em;
   display: inline-block;
}

.right-col .icon-button {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   font-size: 20px;
   font-weight: 400;
   border-radius: 9999px;
   color: var(--text-gray);
   transition: background-color 0.2s ease-in;
}
.right-col .icon-button svg {
   vertical-align: text-bottom;
}

.right-col .icon-button.hover-blue:hover {
   color: var(--twitter-color);
   background-color: var(--blue-hover);
}

/* End Header */

/* Start content */

.single-tweet-content {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   color: #fff;
   font-size: 23px;
}
.single-tweet .styled-link {
   color: var(--twitter-color);
   cursor: pointer;
   z-index: 2;
}
.single-tweet .styled-link:hover {
   text-decoration: underline;
}

.single-tweet .single-tweet-info {
   color: var(--text-gray);
   margin: 15px 0;
   font-size: 15px;
}
.single-tweet-info span {
   margin-left: 2px;
   margin-right: 2px;
   overflow-wrap: break-word;
}

.single-tweet-numbers {
   border-top: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding: 15px 5px;
   margin-bottom: 2px;
}
.single-tweet-numbers .number-item {
   margin-right: 20px;
   cursor: pointer;
   color: #fff;
   font-size: 15px;
   overflow-wrap: break-word;
}

.single-tweet-numbers .number-item:hover {
   text-decoration: underline;
}

.number-item .number {
   margin-right: 5px;
   font-weight: 800;
}

.number-item .text {
   color: var(--text-gray);
}

.space-filler {
   height: 5rem;
}
/* End Content */
