.displayCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.displayCounter .text {
}

.displayCounter .number {
  color: var(--text-gray);
}
