.tweet {
   display: flex;
   flex-direction: row;
   padding: 10px 10px 0px 15px;
   cursor: pointer;
}

.tweet-wrapper:hover {
   background-color: var(--tweet-hover);
}

.tweet .styled-link {
   color: var(--twitter-color);
   cursor: pointer;
   z-index: 2;
}
.tweet .styled-link:hover {
   text-decoration: underline;
}

.tweet.bottom-border {
   display: flex;
   flex-direction: row;
   padding: 10px 10px 0px 15px;
   border-bottom: 1px solid var(--border-color);
}

.image {
   display: flex;
   flex-direction: column;
   flex-basis: 49px;
   flex-grow: 0;
   align-items: center;
   margin-right: 10px;
}
.image .reply-line {
   margin-top: 5px;
   width: 2px;
   background-color: rgb(61, 84, 102);
   flex-grow: 1;
   margin-left: auto;
   margin-right: auto;
}

.image .profile-image {
   border-radius: 50%;
   height: 49px;
   width: 49px;
}
/*  Start of tweet body  -- right side */
.tweet .body {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

/* Tweet Header - names and menu */
.tweet-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 2px;
}
.tweet-info-user {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   overflow-wrap: break-word;
   color: #fff;
   min-width: 0;
}
.tweet-info-user:hover .name {
   text-decoration: underline;
}
.tweet-info-user .name {
   font-size: 15px;
   font-weight: 700;
   color: #fff;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.tweet-info-user .screen-name {
   color: var(--text-gray);
   font-size: 15px;
   margin-left: 5px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.tweet-info-user .verified-badge {
   margin-left: 2px;
   color: #fff;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.tweet-info-user .verified-badge svg {
   vertical-align: text-bottom;
   max-width: 100%;
   height: 1.25em;
   display: inline-block;
}
.tweet-info-user .date {
   color: var(--text-gray);
   font-size: 15px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.tweet-info-user .date .bullet,
.tweet-info-user .date time {
   padding: 0 5px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
/* Tweet Menu Icon */
.tweet-menu {
   position: relative;
}

.tweet-menu .icon-button {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   font-size: 15px;
   font-weight: 400;
   border-radius: 9999px;
   color: var(--text-gray);
}

.tweet-menu .icon-button svg {
   height: 1.25em;
   width: 1.25em;
   vertical-align: text-bottom;
}

.tweet-menu .icon-border {
   position: absolute;
   display: inline-flex;
   height: 34.75px;
   width: 34.75px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: -8px;
   border-radius: 9999px;
   background-color: transparent;
   cursor: pointer;
   z-index: 1;
}

.icon-border:hover {
   background-color: var(--twitter-button-hover);
}

/* End Tweet Menu Icon */

/* Content Area */

.content {
   color: #fff;
}

.toolbar {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 10px;
}

.replying_to {
   color: var(--text-gray);
   padding-bottom: 5px;
}

.retweetedByDisplay {
   color: var(--text-gray);
   padding-top: 10px;
   padding-left: 15px;
   display: flex;
   flex-direction: row;
}

.retweetedByDisplay .retweetIcon__col {
   display: flex;
   flex-direction: column;
   flex-basis: 49px;
   align-items: flex-end;
   margin-right: 10px;
   color: inherit;
}

.retweetedByDisplay .retweetIcon__col > svg {
   color: inherit;
   fill: currentColor;
   font-size: 20px;
}

.retweetedByDisplay .retweetedBy__col {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   min-width: 0;
}

.retweetedByDisplay .retweetedBy__col > span {
   font-size: 14px;
   font-weight: 700;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   min-width: 0;
}
.delete_tweet {
   color: var(--text-error) !important;
   font-size: 23px !important;
}

.pin-to-profile {
   font-size: 23px !important;
}
.delete_tweet .MuiListItemIcon-root > svg {
   color: var(--text-error);
}
.pin-to-profile .MuiListItemIcon-root > svg {
   color: var(--text-gray);
}

@media (max-width: 500px) {
   .tweet-info-user .date {
      display: none;
   }
}
