.tweet-button {
   background-color: var(--twitter-color) !important;
   border-radius: 9999px !important;
   text-transform: inherit !important;
   color: #fff !important;
}

.tweet-button:hover {
   background-color: rgb(26, 145, 218) !important;
   transition-property: background-color, box-shadow !important;
   transition: 0.2s !important;
}

.tweet-button-outline {
   background-color: rgb(22, 32, 42) !important;
   border-radius: 9999px !important;
   color: var(--twitter-color) !important;
   border: 1px solid var(--twitter-color) !important;
   text-transform: inherit !important;
}

.tweet-button-outline:hover {
   background-color: rgba(29, 161, 242, 0.1) !important;
   color: #1da1f2 !important;
   transition-property: background-color, box-shadow !important;
   transition: 0.2s !important;
}

.tweet-button-outline .MuiButton-label {
   color: var(--twitter-color) !important;
}

.mb-15 {
   margin-bottom: 15px;
}

.ml-15 {
   margin-left: 15px;
}

.mr-15 {
   margin-right: 15px;
}

.my-15 {
   margin-top: 15px;
   margin-bottom: 15px;
}

.my-10 {
   margin-top: 10px;
   margin-bottom: 10px;
}
.my-5 {
   margin-top: 5px;
   margin-bottom: 5px;
}

.mx-15 {
   margin-right: 15px;
   margin-left: 15px;
}
.h-30 {
   height: 30px;
}
.h-100 {
   height: 100%;
}
.w-100 {
   width: 100%;
}

.w-max-100 {
   max-width: 100%;
}

.text-primary {
   color: var(--twitter-color);
}

.flex {
   display: flex;
}

.flex-row {
   flex-direction: row;
}

.flex-row-reverse {
   flex-direction: row-reverse;
}

.flex-col {
   flex-direction: column;
}

.flex-grow2 {
   flex-grow: 2;
}

.flex-shrink {
   flex-shrink: 1;
}

.justify-center {
   justify-content: center;
}

.justify-start {
   justify-content: start;
}

.justify-between {
   justify-content: space-between;
}

.align-center {
   align-items: center;
}
