.feed {
   flex: 0.4;
   border-right: 1px solid var(--twitter-background);
   min-width: fit-content;
   overflow-y: scroll;
}
.feed-small-screen {
   flex: 0.63;
   border-right: 1px solid var(--twitter-background);
   min-width: fit-content;
   overflow-y: scroll;
}

/* Hide scrollbar in IE, Edge, & Firefox */
.feed {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.feed-small-screen {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* Hide scrollbar in Chrome, Opera */
.feed::-webkit-scrollbar {
   display: none;
}

.feed-small-screen::-webkit-scrollbar {
   display: none;
}

.feed__header {
   position: sticky;
   top: 0;
   background-color: white;
   border: 1px solid var(--twitter-background);
   padding: 15px 20px;
   z-index: 100;
}

.feed__header--items {
   display: flex;
   justify-content: space-between;
   font-size: 19px;
   font-weight: 800;
}
