.feed {
   /* max-width: 600px; */

   overflow-y: scroll;
   display: flex;
   flex-basis: auto;
   flex-direction: column;
   flex-shrink: 0;
   position: relative;
   width: 100%;
   height: 100vh;
}

/* Hide scrollbar in IE, Edge, & Firefox */
.feed {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* Hide scrollbar in Chrome, Opera */
.feed::-webkit-scrollbar {
   display: none;
}
